{%extends 'index.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}
        {%endblock%}
    </title>
</head>
<body>
    {%block content%}
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-12 col-md-12">
          <div class="caption">
            
            </div>
          <div class="thumbnail">
            
            
            <div class="caption">
              
              <p >
                ارتباط با ما</p><br>
<p>آدرس: البرز شهر گرمدره خیابان امیرآباد هنرستان و دبیرستان ولایت</p><br>
<p>تلفن: 02636105370</p><br>
<p>آدرس پست الکترونیکی: Velayat1398@yahoo.com</p><br>


              </p>
             
            </div>
          </div>
        </div>
    </div>
    {%endblock%}
</body>
</html>