{%extends 'adminbaner.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}
        {%endblock%}
    </title>
</head>
<body>
    {%block content%}
    <div class="panel panel-primary">
        <div class="panel-heading"> درج خبر</div>
        <div class="panel-body">                          
            <form class="site-form" action="{% url 'addnews' %}" method="post" enctype="multipart/form-data">
                 
              {%csrf_token%}
              <div  class="container">
                {%for field in form%}
                  <div class="row">
                    <div class="col-lg-3 col-md-3 ">
                    <b>{{field.label_tag}}</b>     
                  </div>
                    <div class="col-lg-9 col-md-9">  <b> {{field}}</b>
                    </div>
                  </div>
                  {%endfor%}
              </div>
                <input type="submit" value="افزودن خبر" class="btn btn-success btn-block">
              </form>
        </div>
      </div>
      <div class="row">
        <table>
            <tr>
                <div class=" panel panel-primary">
                    <div class=" panel-heading"> جزئیات اخبار</div>
                    
                        </div>

            </tr>
        </table>

    </div>  
<div class="container">
<div class="table">
  <table >
      <tr>
  <th scope="col"><strong>عنوان  </strong></th>
  <!-- <th scope="col"><strong>متن خبر  </strong></th>    -->
  
  </tr>
  
                      {%for new in news%}
                    <tr class="table-active">    <td class="table-primary">
                          {{new.title}} <br>
                          <!-- <td class="table-primary">
                               {{new.description}}</td> -->
                               <td class="table-primary">
                                <a class="highlight" href="{% url 'delnews' new.id%}">
                                    <strong>حذف</strong>
                                </a></td>
                                </tr>
                                
                  {%endfor%}
  
    </table>
</div>
</div>
    {%endblock%}
</body>
</html>